Makefile.in
aclocal.m4
autom4te.cache
build*
config
configure
src/kernel/Makefile.in
src/kernel/arch/hosted/libNix/Makefile.in
src/kernel/config.h.in
src/config.h.in

# Object files
*.o
*.ko
*.bin
*.img

*~

# Libraries
*.lib
*.a
\#*\#

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
